body {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 5%;
}

#languagemessage {
  display: none;
}

img {
  max-height: 400px;
  max-width: 300px;
  border: 2px solid red;
  border-radius: 25px;
}